<link href="/static/css/styles.css" rel="stylesheet" type="text/css">
<div>
    <h2>
        <%= name %>
    </h2>
    <h4>
        <%= yearOfBirth %>,
            <%= placeOfBirth %>
    </h4>
</div>