<link href="/static/css/styles.css" rel="stylesheet" type="text/css">
<div>
    <img src="<%= thumbnailUrl %>" alt="" />
    <h2>
        <%= title %>
    </h2>
    <h3>by
        <%= artist %>
    </h3>
</div>