<link href="/static/css/styles.css" rel="stylesheet" type="text/css">
<div class="artwork">
    <img src="<%= thumbnailUrl %>" alt="" />
    <div class="card-content">
        <h4>
            <%= title %>
        </h4>
        <p>by
            <%= artist %>
        </p>
    </div>
    <div class="buy">
        <form action="/api/cart/<%= id %>">
            <input type="submit" value="Add to cart" name="id">
        </form>
    </div>
</div>