<link href="/static/css/styles.css" rel="stylesheet" type="text/css">
<%- include('navbar') %>
    <div class="container">
        <h1>
            Error
            <%= error %>
        </h1>

        <% if (error == 404)  %>
            <h4>
                <%= errorMessage %>
            </h4>
            <!-- <img src="/static/img/404.gif" alt="" height="300"> -->
            <img src="../static/img/404.png" alt="" id="bg">
            <p><a href="/">Back to safety</a></p>
    </div>
    <%- include('footer') %>
