<link href="/static/css/styles.css" rel="stylesheet" type="text/css">
<div class="container">
    <h1>ERROR <%= error %></h1>
    <h4><%= errorMessage %></h4>
    <a href="/">Back to safety</a>
</div>