<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
        <%- include('partials/navbar') %>
        <div class="jumbotron container">
            <h1>NPM Modules used:</h1>
            <ul>
                <li>express</li>
                <li>express-session</li>
                <li>body-parser</li>
                <li>chalk</li>
                <li>compression</li>
                <li>ejs</li>
                <li>mongodb</li>
                <li>mongoose</li>
                <li>morgan</li>
                <li>serve-favicon</li>
            </ul>
        </div>
        <%- include('partials/footer') %>
</body>
</html>
