<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tate Museum</title>
</head>

<body>
    <%- include('partials/navbar') %>
        <div class="container">

            <img src="../static/img/bg_museum.jpg" alt="" id="bg">

            <h1>Tate Museum Shop</h1>

            <form action="/login" method="post" id="loginform" class="tate-form" autocomplete="off" value="Search">
                <h3>Please login</h3>
                
                <div id="messages">
                    <h3>
                        <%= data.title %>
                    </h3>
                    <h4>
                        <%= data.message %>
                    </h4>
                </div>

                <label for="user">User name </label><input type="text" required id="user" name="username">
                <label for="user">Password</label><input type="password" required id="pass" name="password">
                <!-- <label for="artist-gender">Gender </label><input type="gender" id="artist-gender" name="gender"> -->
                <div></div> <input type="submit" id="login" value="Login">
            </form>

        </div>
        <%- include('partials/footer') %>
</body>

</html>