<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body>

        <%- include('partials/navbar') %>

            <div class="px-3 mx-5">
                <header class="mt-4">
                    <nav class="navbar navbar-light justify-content-between transparent">
                        <h1 class="display-3"><i class="fas fa-fw fa-images"></i> Shop</h1>
                        <div class="form-inline">
                            <input class="form-control mr-sm-2" id="input-search" placeholder="Search" name="query" autofocus>
                            <!-- oninput="typeSearch() -->
                            <select id="order-by" class="form-control form-control mr-sm-2">
                                <option>Order by Title</option>
                                <option>Order by Artist Name</option>
                                <option>Order by Genre</option>
                            </select>
                            <button class="btn btn-primary " id="button-search" type="button" onclick="search()"><i class="fas fa-search"></i> Search</button>
                        </div>
                    </nav>

                </header>

                <div id="card-container">

                    <div id="info"></div>

                    <% if (data) { %>
                        <%- include('partials/shop_results') %>
                            <% } %>
                </div>
            </div>
            <%- include('partials/footer') %>
                <script src="/static/js/jquery.min.js"></script>
                <script src="/static/js/bootstrap.bundle.min.js"></script>
                <script src="/static/js/shop.js"></script>
                <script src="/static/js/search.js"></script>
    </body>

</html>