body {
    background: url('/static/img/bg_museum.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* font-family: 'Open Sans', Arial, Helvetica, Sans-Serif; */
    padding-top: 70px;
}


/* .jumbotron {
    background: rgba(255, 255, 255, 0.5) !important;
}

.bg-dim {
    background: rgba(255, 255, 255, 0.05) !important;
} */

#logo {
    height: 25px;
    width: auto;
}


/* #button-create:enabled,
#button-login:enabled {
    cursor: pointer;
} */

.quantity-control,
#button-prev:hover,
#button-next:hover {
    cursor: pointer !important;
}

#prev-button,
#next-button {
    vertical-align: middle;
    height: 100%;
    padding: auto;
}

#prev-button>i,
#next-button>i {
    margin: 0;
    height: 100%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.transparent {
    background: none;
}

@keyframes zoomIn {
    0% {
        transform: scale(0.3);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        transform: opacity(0);
    }
    100% {
        transform: opacity(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.3);
    }
}

@keyframes fadeOut {
    0% {
        transform: opacity(1);
    }
    100% {
        transform: opacity(0);
    }
}