body {
    background: #444;
    background: url('/static/img/bg_museum.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    background-color: #333;
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
}

.jumbotron {
    background: rgba(255, 255, 255, 0.5) !important;
}

.bg-dim {
    background: rgba(255, 255, 255, 0.05) !important;
}

#logo {
    height: 25px;
    width: auto;
}

#button-create:enabled, #button-login:enabled {
    cursor: pointer;
}