html  
    head
        title Tate Museum Store
    body
        header
            p 
                h2 Menu
        section
            p
                a(href='/gallery') Gallery
        section
            p
                a(href='/shop') Shop

        footer &copy; Isaac Sanchez, 2017