<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP!</title>
</head>

<body>
    <nav>
        <ul id="menu">
            <li>LOGO</li>
            <li>Artists</li>
            <li>Artwork</li>
            <li>SHOP</li>
        </ul>
    </nav>
    <div class="container">
        <h1>Welcome to Tate Museum</h1>

        <div class="col-2">
            <form action="/api/artists" method="get" id="artistsearch">
                <h2>Artist search</h2>
                <div></div>
                <label for="artist-name">Artist ID </label><input type="text" id="artist-id" name="id">
                <!-- <label for="artist-gender">Gender </label><input type="gender" id="artist-gender" name="gender"> -->
                <div></div> <input type="submit" id="artistsubmit">
            </form>

            <div id="results">
                <h2>Results</h2>
            </div>
        </div>

    </div>
    <footer>
        <p>Isaac Sanchez,2017</p>
    </footer>

</body>

</html>